<div class="dashboard-container">
    <div class="dashboard-frame-top">
        <div class="option-panel">
            <span ng-repeat="item in data.headMoveItems"
                  class="btn btn-danger"
                  data-drag="true"
                  jqyoui-draggable="data.draggable"
                  data-jqyoui-options="{revert: 'invalid'}"
                  id="{{item.value}}"
                  ng-model="item"
                  ng-hide="!item.title">{{item.title}}</span>
        </div>
    </div>
    <div class="dashboard-frame-bottom">
        <div class="dashboard-frame-bottom-left"
             data-drop="true"
             data-jqyoui-options
             jqyoui-droppable="data.droppable"
             ng-model="data.container">
             <div class="close-area" ng-click="fn.revert()"></div>
             <div ui-view></div>
        </div>
        <div class="dashboard-frame-bottom-right">

        </div>
    </div>
</div>
